#####################################################################
# Macros
#####################################################################

[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=idle_state VALUE=False
    SET_PAUSE_NEXT_LAYER ENABLE=0
    SET_PAUSE_AT_LAYER ENABLE=0 LAYER=0
    CANCEL_PRINT_BASE
    PRINT_END

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customize for your slicer of choice
gcode:
    # old print start
    #G28                            ; home all axes
    #G90                            ; absolute positioning    
    #G1 Z20 F3000                   ; move nozzle away from bed
   
   # new print start
    {% set target_bed = params.BED|int %}
    {% set target_extruder = params.EXTRUDER|int %}
    {% set target_chamber = params.CHAMBER|default("0")|int %}
    {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
    {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

    SET_LED LED=displayStatus GREEN=0 RED=1 BLUE=0

    M104 S180
    M140 S{target_bed}                                # Set target temp for the bed

    # Homes the printer and sets absolute positioning
    G28                                                 # Full home (XYZ)
    G90                                                 # Absolute position

    {% if target_chamber > 0.0 %}    
      SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber TARGET={target_chamber}
      M106 S255                                         # Turn on the PT-fan
      SET_PIN PIN=nevermore VALUE=255

      G1 X{x_wait} Y{y_wait} Z15 F9000                  # Go to center of the bed
      M104 S180
      M190 S{target_bed}                                # Set target temp for the bed
      
      TEMPERATURE_WAIT SENSOR="temperature_fan chamber" MINIMUM={target_chamber}
            
    {% else %}
      G1 X{x_wait} Y{y_wait} Z15 F9000                  # Go to center of the bed
      M104 S180
      M190 S{target_bed}                                # Set target temp for the bed
    {% endif %}

    # Heats up the hotend up to target via slicer
    G1 X3 Y3 Z60 F3600
    M107                                                # Turn off partcooling fan
    M109 S{target_extruder}                             # Heat hotend to print temp

    # Create a prime line and starts the print
    G1 X10 Y1 Z0.8 F10000                                # Go to starting point
    G1 X110 E20 F1000                                   # Primeline 
    G1 Y1.4 F10000 
    G1 X10 E30 F1000   


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customize for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    M104 S150                      ; lower the hotend temperature without waiting 
    G92 E0                         ; zero the extruder
    G1 E-5.0 F3600                ; retract filament
#    G91                            ; relative positioning
    G90                            ; absolute positioning
    
    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
#    {% if printer.toolhead.position.x < (max_x - 20) %}
#        {% set x_safe = 20.0 %}
#    {% else %}
#        {% set x_safe = -20.0 %}
#    {% endif %}

#    {% if printer.toolhead.position.y < (max_y - 20) %}
#        {% set y_safe = 20.0 %}
#    {% else %}
#        {% set y_safe = -20.0 %}
#    {% endif %}

#    {% if printer.toolhead.position.z < (max_z - 10) %}
#        #{% set z_safe = 2.0 %}
#        {% set z_safe = max_z - printer.toolhead.position.z - 10 %}
#    {% else %}
#        {% set z_safe = max_z - printer.toolhead.position.z %}
#    {% endif %}

    #   Farthest corner from current position
    {% if printer.toolhead.position.x < (max_x / 2) %}
        {% set x_park = max_x - 5.0 %}
    {% else %}
        {% set x_park = 5.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y / 2) %}
        {% set y_park = max_y - 5.0 %}
    {% else %}
        {% set y_park = 5.0 %}
    {% endif %}

    {% set z_target = [printer.toolhead.position.z + 2, 110] | max %}
    {% set z_target = [z_target, max_z] | min %}

    {% set z_hop = [printer.toolhead.position.z + 5, max_z] | min %}

    G0 Z{z_hop} F3600
    G0 X{x_park} Y{y_park} F24000  ; move nozzle to remove stringing
    G0 Z{z_target} F3600             ; move nozzle up
    TURN_OFF_HEATERS
    M107                           ; turn off fan
#    G90                            ; absolute positioning
    G0 X60 Y60 F3600
    
    SET_LED LED=displayStatus GREEN=0 RED=1 BLUE=1
    M84
  
[gcode_macro LOAD_FILAMENT]
gcode:
   SAVE_GCODE_STATE NAME=load_filament_state
   {% set old_target = printer.extruder.target %}
   {% set target_extruder = params.EXTRUDER | default(220) | int %}
   M109 S{target_extruder}
   M83                            ; set extruder to relative
   G1 E30 F300                    ; load
   G1 E100 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute

   M400
   M104 S{old_target}
   RESTORE_GCODE_STATE NAME=load_filament_state
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   SAVE_GCODE_STATE NAME=unload_filament_state
   {% set old_target = printer.extruder.target %}
   {% set target_extruder = params.EXTRUDER | default(220) | int %}
   M109 S{target_extruder}
   M83                            ; set extruder to relative
   G1 E20 F300                    ; extrude a little to soften tip
   G1 E-100 F300                  ; retract some, but not too much or it will jam
   M82                            ; set extruder to absolute

   M400
   M104 S{old_target}
   RESTORE_GCODE_STATE NAME=unload_filament_state

# Cancel object (aka Marlin/RRF M486 commands) support
#
# Enable object exclusion
[exclude_object]

[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}

[gcode_arcs]
resolution: 0.5

[delayed_gcode CHAMBER_COOLDOWN]
gcode:   
    {% if printer["temperature_fan chamber"].temperature < 35 and printer.state != "Printing"%}
        SET_PIN PIN=nevermore VALUE=0
    {% else %}
      UPDATE_DELAYED_GCODE ID=CHAMBER_COOLDOWN DURATION=2
    {% endif %}

[gcode_macro CHAMBER_OFF]
gcode:
  SET_PIN PIN=nevermore VALUE=0
  SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber TARGET=35  